.todo-list-item.important {
  color: brown;
}
.todo-list-item {
  display: flex;
  align-items: center;
  font-size: 20px;
  padding-left: 8px;
}
.todo-list-item.done .todo-list-item-label {
  text-decoration: line-through;
}
.todo-list-item-label {
  margin-right: auto;
}
